@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }
</style>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
    <div class="about">
        <div class="about-title">
            <h1> About Us</h1>
            <p>
                We are a professional agency providing customized security arrangements to the industrial, commercial, and business houses
            </p>
        </div>
    </div>
    <div class="about-content">
        <div class="history" style="padding:10px 0 10px;">
            <div class="history-title">
                <h2> <i class="bi bi-clock-history"></i> History</h2>
            </div>
            <div class="history-content">
                <p>
                    <i class="bi bi-dot"></i>Star securities has been one of the pioneers in the Private Security Industry.
                    Set up in 2000, the company has been a thought and knowledge leader since its inception.
                    Through the decade of its existence, Star has endeavored to provide the best security solutions to its customers through innovation, commitment to quality, training and strict compliance to international standards.<br />

                    <i class="bi bi-dot"></i>Setup as Investigation firm almost 10 years ago, today the company has grown into a "Total Security Solutions Provider" offering manned guarding (MG), investigations (C&I), electronic security systems (ESS) and cash services (CS) to over 250 corporate customers across 24 states.<br />

                    <i class="bi bi-dot"></i>Star is an ISO 9001:2000 certified public limited company. Backed by a trained workforce of over 2800 men & supervisors and 100 banded managers, Star delivers premium services with high quality and absolute integrity.<br />

                    <i class="bi bi-dot"></i>Star believes in continuously upgrading the quality of our resources and infrastructure to support the ever-changing customer requirements. In pursuance to this, Star wants the security business to implement a state-of-the-art ERP Solution to manage the day-to-day operations of the company.
                </p>
            </div>

        </div>
        <div class="chairman" style="padding:10px 0 10px;">
            <div class="chairman-title">
                <h2><i class="bi bi-person"></i> Chairman's Profile</h2>
            </div>
            <div class="chairman-content">
                <img class="chairman" src="../img/man.png" />
                <h3>Mr. N.Q.Trung, Founder and Group Chairman</h3>
                <p> Mr.Trung is a first generation entrepreneur and the Founder of Star Security Services  </p>
                <h3>Early Career</h3>
                <p>
                    A graduate of political science and law, Mr.Trung was a journalist specializing in crime and political reporting, who covered the Indo-Pak War of 1971. He authored ‘Janandolan’, recognized as the first authentic book on the Indian student movement led by the revolutionary Jai Prakash Narayan. Mr. Sinha’s desire to assist retired ex-servicemen after the war inspired him to create a security services company.
                </p>
                <h3>Recognition</h3>
                <p>
                    As a celebrated industry pioneer and spokesman, he represents the private security industry before government bodies. He served as advisor to the Ministry of Human Resource Development, Government of India (1999 to 2004).

                    He is a renowned speaker on subjects pertaining to security, loss prevention, training, and disaster management issues and is a regular faculty at universities across India and the U.S.

                    In recognition of his contribution, the Security Association of Singapore (SAS) honoured him with a Loss Prevention Promoter Award in 2006.
                </p>
                <h3>Associations</h3>
                <p>
                    Mr.Trung has also been a champion of industry issues and associations, holding various positions including that of the Regional Vice President, World Safety Organization (WSO) for South Asia (1989-1991); President, National Institute of Security Professionals of India (1990-1995); Area Governor, Association of Security Organization of India (1988- 2001); Chapter Chairman, ASIS for Indian Sub-Continent Chapter (1990-2000); Executive Chairman, International Institute of Security and Safety Management besides being Founder Chairman of the Central Association for the Private Security Industry of India (CAPSI) and the Security Skills Council of India (SSCI).
                </p>

            </div>
        </div>
        <div class="director" style="padding:10px 0 10px;">
            <div class="director-title">
                <h2> <i class="bi bi-people"></i> Board Of Directors </h2>
            </div>
            <div class="director-content">
                <div class="card">
                    <div class="imgText">
                        <div class="imgBx">
                            <img src="../img/man.jpeg" />
                        </div>
                        <h5> Nguyen Quoc Trung</h5>
                        <p> Founder </p>
                    </div>
                    <ul class="contact-info">
                        <li><a href="#"><i class="bi bi-facebook" style="color:#3b5998"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter" style="color: #1DA1F2;"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram" style="color: #E1306C"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin" style="color:#2867B2"></i></a></li>
                    </ul>
                </div>
                <div class="card">
                    <div class="imgText">
                        <div class="imgBx">
                            <img src="../img/man.jpeg" />
                        </div>
                        <h5> Ha Dang Khoa </h5>
                        <p> Founder </p>
                    </div>
                    <ul class="contact-info">
                        <li><a href="#"><i class="bi bi-facebook" style="color:#3b5998"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter" style="color: #1DA1F2;"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram" style="color: #E1306C"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin" style="color:#2867B2"></i></a></li>
                    </ul>
                </div>
                <div class="card">
                    <div class="imgText">
                        <div class="imgBx">
                            <img src="../img/man.jpeg" />
                        </div>
                        <h5> Tran Huu Phuoc</h5>
                        <p> Founder </p>
                    </div>
                    <ul class="contact-info">
                        <li><a href="#"><i class="bi bi-facebook" style="color:#3b5998"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter" style="color: #1DA1F2;"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram" style="color: #E1306C"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin" style="color:#2867B2"></i></a></li>
                    </ul>
                </div>
                <div class="card">
                    <div class="imgText">
                        <div class="imgBx">
                            <img src="../img/man.jpeg" />
                        </div>
                        <h5> Ly Hung Phat </h5>
                        <p> Founder </p>
                    </div>
                    <ul class="contact-info">
                        <li><a href="#"><i class="bi bi-facebook" style="color:#3b5998"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter" style="color: #1DA1F2;"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram" style="color: #E1306C"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin" style="color:#2867B2"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
