* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Copperplate;
}

html, body {
    position: relative;
    height: 100%;
}

/*-------------------------------Header----------------------*/
/*hhhhhhhhhhhhhhhhhhhome pageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
.myNav {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 100px;
    font-style: normal;
    font-size: 16px;
    z-index: 10000;
    transition: 0.5s;
}

    .myNav.active {
        height: 100%;
        background: black;
        transition: 1s;
    }

    .myNav.sticky {
        padding: 10px;
        position: fixed;
        transition: 0.5s;
        background: rgba(0,0,0,0.8);
    }

.myNav-header {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 0;
    margin: 0 auto;
    display: none;
    top: 0;
    width: 100%;
}

.myNav-list {
    display: block;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
}

    .myNav-list li {
        list-style: none;
    }

        .myNav-list li,
        .myNav-list li a {
            display: block;
            color: #ddd;
            text-decoration: none !important;
            transition: 0.2s;
        }

            .myNav-list li a:hover {
                color: #fff;
            }

            .myNav-list li:nth-child(2) a:hover {
                border-bottom: 1px solid #ddd;
                color: #ddd;
            }

            .myNav-list li:nth-child(3) a:hover {
                border-bottom: 1px solid #ddd;
                color: #ddd;
            }

            .myNav-list li:nth-child(6) a:hover {
                border-bottom: 1px solid #ddd;
                color: #ddd;
            }

            .myNav-list li a.myNav-item {
                transform: scale(1);
                transition: 0.4s;
                display: block;
            }

                .myNav-list li a.myNav-item.hide-item {
                    transform: scale(0);
                }


header .myNav-list.active {
    max-height: 350px;
    padding: 20px;
}

    header .myNav-list.active li {
        padding: 10px 0 10px;
    }

        header .myNav-list.active li a:hover {
            color: #ddd;
        }

header .nav-icon {
    background: #fff;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    cursor: pointer;
}

    header .nav-icon:before {
        background: #fff;
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: 5px;
    }

    header .nav-icon:after {
        background: #fff;
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: -5px;
    }

    header .nav-icon.active {
        background-color: transparent;
    }

        header .nav-icon.active:before {
            transform: rotate(-45deg);
            top: 0;
            
        }

        header .nav-icon.active:after {
            transform: rotate(45deg);
            top: 0;
        }

header .menu-icon {
    padding: 18px 20px;
    position: relative;
    float: left;
    cursor: pointer;
}

header .menu-btn {
    display: none;
}

.ham-menu {
    display: none;
}

.search-form {
    position: fixed;
    top: 0;
    left: 30%;
    transform: translateX(50%);
    width: 35%;
    height: 35px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

    .search-form.active {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
        transform: translateX(0);
    }

    .search-form input::placeholder {
        color: white;
    }

    .search-form input {
        justify-content: center;
        background: transparent;
        top: 30px;
        padding-left: 5px;
        position: absolute;
        width: 100%;
        cursor: pointer;
        height: 35px;
        align-items: center;
        border: none;
        color: white;
        font-size: 16px;
        border-bottom: 0.5px solid #ddd;
    }



.search-dropdown {
    position: fixed;
    width: 35%;
    height: 400px;
    display: none;
    background: #fff;
    z-index: 3;
    left: 30%;
    top: 70px;
    border-radius: 0 0 20px 20px;
}

    .search-dropdown.active {
        display: block;
        animation: growDown .5s ease-in-out forwards;
        transform-origin: top center;
    }

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.4);
    width: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none !important;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
    animation: growDown 0.5s ease-in-out forwards;
    transform-origin: top center;
}

.search-around {
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.close {
    position: absolute;
    top: 25px;
    left: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

    .close.active {
        opacity: 1;
        visibility: visible;
    }

.star-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    list-style: none;
    opacity: 0.8;
    transition: 0.2s;
}

    .star-logo:hover {
        opacity: 1;
    }


.banner {
    height: 25px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-content {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 30s linear infinite;
}



    .banner-content span {
        position: relative;
        float: left;
        padding: 0 20px;
    }



@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}
    .swiper-slide:nth-child(1){
        background-image:url("../img/slider2.jpg");
        background-size:100% 100%;
        object-fit:cover;
        
        
    }
    .swiper-slide:nth-child(2) {
        background-image: url("../img/man1.jpeg");
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }
    .swiper-slide:nth-child(3) {
        background-image: url("../img/guard2.jpg");
        background-size: 100% 100%;
        
    }

/*aaaaaaaaaaaaaaaaaaaabout ussssssssssssssssssssssssssssssss*/
.about {
    background-image: url(../img/about.jpeg);
    background-size: 100% 100%;
    height: 50vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-title {
    top: 50%;
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    transform: translate(0, -50%);
}

.about-content h2 {
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #ddd;
}

.history-content {
    padding: 10px;
    font-size: 15px;
}

.chairman-content {
    padding: 10px;
}

    .chairman-content img {
        shape-margin: 20px;
        height: 500px;
        float: left;
        shape-outside: url(../img/man.png);
    }

.director-content {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.card {
    position: relative;
    width: 350px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.imgBx {
    width: 250px;
    height: 300px;
}

    .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.imgText {
    padding: 10px 0 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .imgText h5 {
        font-size: 22px;
        padding: 15px 0 0 0;
        font-weight: 500;
        color: #3284ea
    }

    .imgText .imgBx {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

.contact-info {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center
}

    .contact-info li a {
        padding: 15px;
        margin: 5px;
        background: #e9f5ff;
        border-radius: 50%;
        text-decoration: none;
    }

        .contact-info li a:hover {
            background: #e9f5ff;
            opacity: 0.6;
        }

/*rrrrrrrrrrrrrrrrrrresponesiveeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
@media only screen and (max-width:768px) {
   
    .ham-menu {
        display: block;
    }

    .myNav-header {
        display: block;
    }

    .myNav-list {
        display: none;
    }

    header .myNav-list {
        clear: both;
        display: block;
        overflow: hidden;
        position: relative;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .banner {
        display: none;
    }

    .myNav {
        padding: 10px;
        background: rgba(0,0,0,0.8);
    }

        .myNav.sticky {
            background: black;
        }

    .myNav-list li:nth-child(1) {
        display: none;
    }

    .dropdown:hover .dropdown-content {
        position: relative;
    }

    .search-form.active {
        z-index: 100000;
        width: 60%;
        left: 20%;
        top: 50px;
    }

    .search-dropdown.active {
        z-index: 10000;
        top: 120px;
        width: 60%;
        left: 20%;
        background: #fff;
    }
    .module-service-content {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) !important;
    }
}





/*fffffffffffffffffffooterrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
.footer {
    position: relative;
    width: 100%;
    background-color: #f5f5f7;
}

.footer-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 22px;
}

.footer-content-top {
    padding: 20px 0px 0px 0;
    display: inline-grid;
    position: relative;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.col-content {
    position: relative;
}

    .col-content ul li {
        list-style: none;
        font-size:14px;
    }

        .col-content ul li a {
            text-decoration: none;
            cursor: pointer;
            color:black;
        }

.copyright {
    position: relative;
    border-top: 1px solid #ddd;
}
