<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Admin_css.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container_admin">
        @*Menu_admin*@
        <div class="col_left">
            <div class="logo_my_team">
                <div class="image_my_team">
                    <img class="my_logo" src="~/img/logoResize.png" alt="Alternate Text" />
                    <h3 style="color:#ffffff;margin-top:3px;">TPPK_SERVICE</h3>
                </div>
            </div>
            <div class="btn_menu">
                <ul class="btn_menu_admin">
                    <li id="li_employee" onclick="click_content_employee();">Empolyee</li>
                    <li id="li_feedback" onclick="click_content_feedback();">Feedback</li>
                    <li id="li_about_us" onclick="click_content_about_us();">About Us</li>
                    <li id="li_region" onclick="click_content_Region();">Region</li>
                    <li id="li_department" onclick="click_content_Department();">Department</li>
                    <li id="li_achivement" onclick="click_content_achivement();">Achivement</li>
                    <li id="li_service" onclick="click_content_service();">Service</li>
                    <li id="li_trainning" onclick="click_content_trainning();">Trainning</li>
                    <li id="li_chart" onclick="click_content_chart_employee();">Chart Employee</li>
                    @*<li id="li_traffic" onclick="click_content_traffic();">Traffic</li>*@
                </ul>
            </div>
        </div>
        @*Content_admin*@
        <div class="col_right">
            <div class="content_col_right">
                @RenderBody()
            </div>
        </div>
    </div>
    @*script*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/js/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("content_chart_employees", {
                width: 1500,
                height: 710,
                title: {
                    text: "My Chart Employee Soil"
                },
                data: [
                    {
                        // Change type to "doughnut", "line", "splineArea", etc.
                        type: "line",
                        dataPoints: [
                            { label: "security", y: 10 },
                            { label: "electrical repairs", y: 15 },
                            { label: "repair water", y: 25 }    ,
                            { label: "Dog", y: 30 },
                            { label: "bodyguard", y: 28 },
                            { label: "bodyguard", y: 47 },
                            { label: "bodyguard", y: 34  }
                        ]
                    }
                ]
            });
            chart.render();
        }
    </script>
    <script>
        CKEDITOR.replace("my_description", {
            height: 80,
            width: 600,
        });
        CKEDITOR.replace("my_description2", {
            height: 80,
            width: 600,
        });
        CKEDITOR.replace("my_description3", {
            height: 80,
            width: 600,
        });
        CKEDITOR.replace("detail_trainning", {
            height: 200,
            width: 375,
        });
    </script>
    @RenderSection("script_admin", required: false)
</body>
</html>
<script>
    function clear_form_feedback() {
    $('#search_feedback').val("");
    }
    function clear_form_view_about_us() {
    $('#search_view_about_us').val("");
    }
    function clear_form_view_employee() {
        document.getElementById('Choose_View_Employee').selected = "true";
        $('#search_employee').val("");
    }
    function clear_form_employee() {
        $('#name').val("");
        $('#age').val("");
        $('#weight').val("");
        $('#height').val("");
        $('#phone').val("");
        $('#email').val("");
        $('#address').val("");
        document.getElementById('Choose_Department').selected = "true";
        $('#role').val("");
        $('#grade').val("");
        $('#achivemet').val("");
        $('#speciality').val("");
        $('#price').val("");
        $('#about_me').val("");
        $('#username').val("");
        $('#password').val("");
        $('#cf_password').val("");
        $('#status').prop("checked", false);
    }
    function clear_form_about_us() {
        $('#my_description').val("");
        $('#my_description2').val("");
        $('#my_description3').val("");
    }
    function clear_form_region() {
        $('#name_region').val("");
        $('#search_region').val("");
        $('#status_region').prop("checked", false);

    }
    function clear_form_department() {
        $('#name_department').val("");
        $('#search_department').val("");
        document.getElementById('Choose_id_Region').selected = "true";
        document.getElementById('Choose_Department_search').selected = "true";
        $('#status_department').prop("checked", false);
    }
    function clear_form_achivement() {
        $('#name_achivement').val("");
        $('#search_achivement').val("");
        $('#name_service').prop("checked", false);

    }
    function clear_form_service() {
        $('#name_service').val("");
        $('#search_service').val("");
        $('#price_service').val("");
        $('#status_service').prop("checked", false);
    }
    function clear_form_trainning() {
        $('#name_trainning').val("");
        document.getElementById('Choose_Duration').selected = "true";
        $('#trainer_trainning').val("");
        $('#search_trainning').val("");
        document.getElementById('Choose_Trainning').selected = "true";
    }
    function click_content_employee() {
        $("#li_employee").css('background-color', '#ffffff');
        $("#li_employee").css('color', '#000000');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_employee').css('display', 'block');
        $('#view_table_employee').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
    }
    function click_view_employee() {
        load_data();
        $('#view_table_employee').css('display', 'block');
        $('#content_employee').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
        load_data();

    }
    function click_content_feedback() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#ffffff');
        $("#li_feedback").css('color', '#000000');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_feedback').css('display', 'block');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_about_us').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();

    }
    function click_content_about_us() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#ffffff');
        $("#li_about_us").css('color', '#000000');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'block');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();

    }
    function click_content_Region() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#ffffff');
        $("#li_region").css('color', '#000000');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'block');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();

    }
    function click_content_Department() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#ffffff');
        $("#li_department").css('color', '#000000');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'block');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_view_about_us();

    }
    function click_content_service() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#ffffff');
        $("#li_service").css('color', '#000000');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'block');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();

    }
    function click_content_achivement() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#ffffff');
        $("#li_achivement").css('color', '#000000');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'block');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_view_about_us();

    }
    function click_content_trainning() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#ffffff');
        $("#li_trainning").css('color', '#000000');
        $("#li_chart").css('background-color', '#000000');
        $("#li_chart").css('color', '#ffffff');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'block');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();

    }
    function view_about_us() {
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'block');
        $('#content_chart_employee').css('display', 'none');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();

    }
    function click_content_chart_employee() {
        $("#li_employee").css('background-color', '#000000');
        $("#li_employee").css('color', '#ffffff');
        $("#li_feedback").css('background-color', '#000000');
        $("#li_feedback").css('color', '#ffffff');
        $("#li_about_us").css('background-color', '#000000');
        $("#li_about_us").css('color', '#ffffff');
        $("#li_region").css('background-color', '#000000');
        $("#li_region").css('color', '#ffffff');
        $("#li_department").css('background-color', '#000000');
        $("#li_department").css('color', '#ffffff');
        $("#li_achivement").css('background-color', '#000000');
        $("#li_achivement").css('color', '#ffffff');
        $("#li_service").css('background-color', '#000000');
        $("#li_service").css('color', '#ffffff');
        $("#li_trainning").css('background-color', '#000000');
        $("#li_trainning").css('color', '#ffffff');
        $("#li_chart").css('background-color', '#ffffff');
        $("#li_chart").css('color', '#000000');
        $('#content_about_us').css('display', 'none');
        $('#content_feedback').css('display', 'none');
        $('#view_table_employee').css('display', 'none');
        $('#content_employee').css('display', 'none');
        $('#content_region').css('display', 'none');
        $('#content_department').css('display', 'none');
        $('#content_service').css('display', 'none');
        $('#content_achivement').css('display', 'none');
        $('#content_trainning').css('display', 'none');
        $('#view_table_about_us').css('display', 'none');
        $('#content_chart_employee').css('display', 'block');
        $('#content_chart_employee').css('width', '99%');
        clear_form_about_us();
        clear_form_region();
        clear_form_department();
        clear_form_achivement();
        clear_form_service();
        clear_form_trainning();
        clear_form_employee();
        clear_form_view_employee();
        clear_form_feedback();
        clear_form_view_about_us();
    }
</script>

<script type="text/javascript">
    function btn_save_region() {
        var infor_region = new Object();
        var name_region = $("#name_region").val();
        var status = $("#status_region").prop("checked");
        infor_region.name = name_region;
        if (status == true) {
            infor_region.status = true;
        } else {
            infor_region.status = false;
        }
        var q = JSON.stringify(infor_region);
        $.ajax({
            type: 'Post',
            url: 'http://localhost:44383/api/regions',
            data:q,
            contentType: "application/json; charset=utf8",
            dataType: 'json',
            success: function (data) {
                alert("Success");
                clear_form_region();
            },
            error: function (data) {
                alert("Error");
                clear_form_region();
            }
        });
    }
    $(document).ready(function() {
        $.ajax({
            type:'Get',
            url: 'http://localhost:44383/api/regions',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                @*alert(JSON.stringify(data));*@
                $.each(data, function (index, value) {
                    var rows = "<tr>"
                        + "<td class=''>" + value.name + "</td>"
                        + "<td class=''>" + value.status + "</td>"
                        + "<td>"
                            +"<div class='div_icon'>"
                                +"<span><i class='fa fa-trash'></i></span>"
                            +"</div>"
                            +"<div class='div_icon'>"
                                +"<span><i class='fa fa-edit'></i></span>"
                            +"</div>"
                        "</td>"
                    + "</tr>";
                    $('table tbody').append(rows);
                });
            },
            error: function (data) {
                alert("Error");
            }
        })
    });



  @*try data*@
  function load_data () {
        $.ajax({
            type: 'Get',
            url: 'http://localhost:44383/api/regions',
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            success: function (data) {
                @* alert(JSON.stringify(data));*@
                $.each(data, function (index, value) {
                    var rows = "<tr>"
                        + "<td class=''>" + value.name + "</td>"
                        + "<td class=''>" + value.status + "</td>"
                        + "<td>"
                        + "<div class='div_icon'>"
                        + "<span><i class='fa fa-trash'></i></span>"
                        + "</div>"
                        + "<div class='div_icon'>"
                        + "<span><i class='fa fa-edit'></i></span>"
                        + "</div>"
                    "</td>"
                        + "</tr>";
                    $('table tbody').append(rows);
                });
            },
            error: function (data) {
                alert("Error");
            }
        })
    };
</script>


